*{
	padding: 0;
	margin:0;
}

a:focus, .button:focus, .button.alt:focus, button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus {
    outline: none;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
	color: #000000;
	font-family: "SF UI Display", serif;
	font-weight: 300;
	transition: 0.3s;
	cursor: pointer;
}

a:hover {
	opacity: 0.8;
}

body {
	font-family: ;
	font-weight: ;
	color: ;
	font-size: ;
	background-color: ;
}

.none {
	display: none !important;
}

.form-group {
	margin: 0;
}

.container {
	max-width: 1160px;
	padding: 0 10px;
}


.advert {
	background: #f2f4f6;
}

.advert__back-button {
	margin-bottom: 16px;
	background: #fff;
	opacity: 1;
    border: 1px solid #c9cbcd;
}

.advert__window {
	max-width: 866px;
	width: 100%;
	margin-bottom: 15px;
	padding: 30px;
	border-radius: 5px;
	background: #fff;
	box-sizing: border-box;
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0,0,0,.07);
}

.advert__window_file {
	position: relative;
}

.advert__window_file .invalid-feedback {
	display: block;
}

.advert__title {
	margin-bottom: 24px;
	font-size: 24px;
}

.advert__group {
	margin-bottom: 20px;
}

.advert__label {
	margin-bottom: 8px;
	font-size: 14px;
}

.advert__radios {
	width: 100%;
	flex-wrap: wrap;
}

.advert__radios>.btn.advert__change {
	height: 40px;
	display: inline-block;
	flex: initial;
	background: #fff;
	color: #000;
}

.advert__group_property {
	width: 440px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.advert__group_property-none {
	display: none;
}

.advert__group-left,
.advert__group-right {
	width: 50%;
	margin-bottom: -16px;
}

.advert__radio {
	margin-bottom: 16px;
}

.advert__radio_none {
	display: none;
}

.advert__title_youtube {
	margin-bottom: 8px;
}

.advert__label_youtube {
	margin-bottom: 24px;
}

.advert__group_youtube {
	display: flex;
	margin-bottom: 0;
}

.advert__youtube-button {
	margin-left: 20px;
}

.advert__group_photo {
	margin-bottom: 0;
}

.advert__subtitle {
	margin-bottom: 8px;
	font-weight: 600;
}

.advert__radios_inline {
	width: auto;
}

.advert__row {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.advert__room {
	min-width: 40px;
	margin-right: 8px;
	background: #fff;
	color: #000;
}

.btn-group > .advert__room {
	margin-bottom: 8px;
	flex: initial;
}

.advert__input-text {
	width: 150px;
}

.advert__input-block {
	margin-right: 30px;
	position: relative;
}

.meter::after {
	content:"м²";
	width: 5px;
	height: 5px;
	position: absolute;
	right: 20px;
	bottom: 25px;
}

.meter_simple::after {
	content:"м";
}

.advert__checkbox-block {
	width: 240px;
	margin: 10px 0;
}

.advert__row_checkbox {
	margin: -10px 0;
	margin-bottom: 10px;
	flex-wrap: wrap;
}

.window__block {
	margin-bottom: 48px;
}

.meter_year::after {
	content: "г";
}

.advert__box {
	min-width: 160px;
}

.meter_site::after {
	content: "сот.";
	right: 30px;
}

.advert__row_home {
	max-width: 600px;
	flex-wrap: wrap;
}

.advert__box {
	margin-bottom: 20px;
}

.meter_power::after {
	content: "кВт";
	right: 30px;
}

.advert__box_access {
	margin-right: 30px;
}

.advert__row_office-name {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.advert__input-block_name {
	display: inline-block;
	margin-bottom: 27px;
}

.advert__input-block_name input {
	width: 300px;
}

.advert__box_maybe {
	margin-right: 20px;
}

.meter_price::after {
	content: "₽";
}

.meter_rent::after {
	content: "₽/мес";
	width: 50px;
	height: 20px;
	right: 0px;
	bottom: 10px;
	margin-bottom: 0px;
}

.advert__checkbox_price {
	margin-top: 38px;
}

.window__block:last-child,
.advert__row:last-child {
	margin-bottom: 0;
}


.form-group .advert__textarea {
	height: 150px;
	padding-bottom: 30px;
}

.advert__text {
	max-width: 477px;
	margin-bottom: 20px;
}

.advert__buttons {

}


.advert__container-file {
	width: 100%;
}

.advert__container-file {
	min-height: 200px;
	padding: 20px;
	margin: 0 -10px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	border: 1px dashed #000;
	box-sizing: border-box;
}

.dz-preview {
	margin: 0 10px;
	margin-bottom: 20px;
	display: inline-block;
}

.dz-success-mark {
	display: none;
}

.dz-error-mark {
	display: none;
}

.dz-details {
	display: none;
}

.dz-size {
	text-align: center;
}

.dz-filename {
	text-align: center;
}

.dz-remove {
	display: block;
	background: red;
	color: #fff;
	opacity: 0.8;
	text-align: center;
}

.dz-error-message {
	display: none;
}

.advert__youtube_none {
	display: none !important;
}

.advert__youtube-result {
	display: flex;
	align-items: center;
}

.advert__youtube-img {
	margin-right: 20px;
}

.advert__youtube-link {
	margin-bottom: 10px;
}


.advert__modal {
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	visibility: hidden;
	background: rgba(0, 0, 0, 0);
	transition: 0.4s;
}

.advert__modal_active {
	visibility: visible;
	background: rgba(0, 0, 0, 0.6);
}


.advert__modal-window {
	width: 390px;
	height: 400px;
	padding: 24px;
	box-sizing: border-box;
	background: #fff;
	position: relative;
	transform: translateY(-1000px);
	transition: 0.4s;
	border-radius: 8px;
}

.advert__modal-window_active {
	transform: translateY(0px);
}

.advert__modal-close {
	width: 40px;
	height: 40px;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}

.advert__modal-close::before,
.advert__modal-close::after {
	content: "";
	width: 20px;
	height: 2px;
	position: absolute;
	top: 50%;
	margin-top: -1px;
	right: 50%;
	margin-right: -10px;
	background: #ccc;
}

.advert__modal-close::before {
	transform: rotate(45deg);
}

.advert__modal-close::after {
	transform: rotate(-45deg);
}

.advert__modail-title {
	font-size: 24px;
	margin-bottom: 16px;
}

.advert__modal-input {
	height: 52px;
	margin-bottom: 16px;
}

.advert__modal-button {
	width: 100%;
	height: 52px;
	margin-bottom: 18px;
	display: block;
}

.advert__modal-separator {
	margin-bottom: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	opacity: 0.6;
}

.advert__modal-separator::before,
.advert__modal-separator::after {
	content: "";
	width: 40%;
	height: 2px;
	background: #ccc;	
}

.advert__modal-link {
	width: 100%;
	height: 52px;
	margin-bottom: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.advert__modal-subscribe {
	font-size: 12px;
}

.advert__address-block {
	position: relative;
	z-index: 2;
}

.advert__adresses {
	width: 100%;
	max-height: 300px;
	box-shadow: 1px 1px 8px #ccc;
	position: absolute;
	overflow: auto;
	background: #fff;
	box-sizing: border-box;
	border-radius: 0 0 8px 8px;
}

.advert__adresses-item {
	width: 100%;
	height: 40px;
	padding-left: 20px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	border-bottom:1px solid rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	cursor: pointer;
}

.advert__adresses-item:hover {
	background-color: rgba(0, 0, 0, 0.6);
	color:#fff;
}

.label_error {
	border: 1px solid red;
}

.invalid-feedback {
	position: absolute;
}

.advert__button-main {
	margin-bottom: 20px;
}

.advert__map {
	height: 300px;
}





@media screen and (max-width: 720px) {
	.advert__row {
		flex-wrap: wrap;
	}

	.advert__row_office-class {
		flex-direction: column;
		align-items: flex-start;
	}

	.advert__input-block_name input {
		width: 260px;
	}
}



@media screen and (max-width: 720px) {
	.invalid-feedback {
		font-size: 10px;
	}

	.advert__input-block {
		margin-bottom: 15px;
	}
}

@media screen and (max-width: 490px) {
	.advert__group_property {
		width: 100%;
		flex-direction: column;
	}

	.advert__group-left {
		margin-bottom: 0px;
	}

	.advert__group-left,
	.advert__group-right {
		width: 100%;
	}
}

@media screen and (max-width: 450px) {
	.advert__group_youtube {
		flex-direction: column;
	}

	.advert__youtube-button {
		margin: 0;
		margin-top: 20px;
	}
}

@media screen and (max-width: 430px) {
	.advert__container-file {
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (max-width: 350px) {
	.advert__window {
		padding: 20px;
	}

	.advert__change {
		zoom: 0.95;
	}
}

@media screen and (max-width: 360px) {
	.advert__radios {
		zoom: 0.95;
	}
}